.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
}

.right-side .circle {
    width: 1300px;
    height: 1300px;
    border-radius: 100%;
    background: var(--green);
    z-index: -1;
    position: fixed;
    top: 22%;
    right: -45%;
}

